*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
	margin-top: 10vh;
	background-color: hsl(210, 46%, 95%);
	border: 1px solid hsl(210, 46%, 95%);
}

.container{
	width: 90vw;
	min-width: 300px;
	margin: auto;
}

/**********************************************************/

@media screen and (max-width: 600px){
	.container > div{
	margin: 10px auto;
	}
}
@media screen and (min-width: 600px){
	.container{
		width: 75vw;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr;
		grid-auto-flow: dense;
	}
}
@media screen and (min-width: 992px){
	.container{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;
	}
}

/*********************************************************/
.container >div{
	padding: 25px;
	border-radius: 10px;
}

/***********************************************************/

.box1, .box2, .box4{
	color: hsl(0, 0%, 81%);
}
.box1 >h3, .box2 >h3, .box4 >h3{
	color: hsl(0, 0%, 100%);
}

.box3, .box5{
	color: hsl(217, 19%, 35%);
}
.box3 >h3 , .box5 >h3{
	color: hsl(219, 29%, 14%);
}

/**********************************************************/
.box1{
	grid-column: span 2;
	background-color: hsl(263, 55%, 52%); 
}
.box2{
	background-color: hsl(217, 19%, 35%);
}
.box3{
	grid-column: 1/2;
	background-color: hsl(0, 0%, 100%);
}
.box4{
	grid-column: span 2;
	background-color: hsl(219, 29%, 14%);
}
.box5{
	grid-row: span 2;
	background-color: hsl(0, 0%, 100%);
}

/***********************************************************/
h3{
	margin:  10px auto;
	clear: both;
	font-size: 1.25rem;
}
/************************************************************/

.intro{
	font-weight: 600;
}
.dp{
	width: 40px;
	float: left;
	margin-right: 10px;
	border-radius: 50%;
}
p{
	font-size: 13px;
	margin: auto;
	display: inline-block;
}
.as{
	margin-top: 3px;
}

/***************************************************************/
.box1{
	position: relative;
	z-index: -2;
}
.bg{
	position: absolute;
	top: 0;
	left: 60%;
	z-index: -1;
}


.attribution{
	visibility: hidden;
}